@import "./stylesheets/_variables.scss";
@import "./stylesheets/_responsive.scss";
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body,
html * {
  font-family: Helvetica Neue;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  height: 100%;
}