.Todo {
  background: rgb(245, 245, 245);
  padding-bottom: 100px;
  height: 100%;
  &__title {
    font-size: 64px;
    font-weight: 100;
    color: rgba(175, 47, 47, 0.15);
    text-align: center;
  }
  &__container {
    margin: auto;
    max-width: 550px;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
  &__loading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    font-size: 20px;
  }
}