@import "../../../../stylesheets/_variables.scss";
@import "../../../../stylesheets/_responsive.scss";
.Todo {
  background: rgb(245, 245, 245);
  padding-bottom: 100px;
  height: 100%;
  &__title {
    font-size: 64px;
    font-weight: 100;
    color: rgba(175, 47, 47, 0.15);
    text-align: center;
    padding-top: 50px;
    @include mobile {
      font-size: 40px;
      font-weight: 300;
      padding: 50px 25px 25px;
    }
  }
  &__container {
    margin: auto;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    max-width: 550px;
  }
  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    font-size: 20px;
  }
  &__error {
    max-width: 350px;
    padding: 10px 25px;
    margin: 50px auto;
    border: 3px solid #4a4a4a;
    text-align: center;
    font-size: 24px;
    color: #4a4a4a;
    @include mobile{
      max-width: 240px;
      font-size: 16px;
    }
  }
}