@import '../../../../stylesheets/_variables.scss';
@import '../../../../stylesheets/_responsive.scss';
.TodoList {
  &__noData {
    border-bottom: 1px solid #e6e6e6;
    padding: 16px;
    color: $colorText;
    font-size: 18px;
  }
}