@import '../../../../stylesheets/_variables.scss';
@import '../../../../stylesheets/_responsive.scss';
.TodoItem {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  &__title {
    flex: 1;
    font-size: 24px;
    color: $colorText;
    font-weight: $fontWeightThin;
    white-space: pre-line;
    word-break: break-all;
    padding: 15px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
  }
}

