@import "../../../../stylesheets/_variables.scss";
@import "../../../../stylesheets/_responsive.scss";
.TodoCounter {
  font-size: $fontSizeSmall;
  font-weight: $fontWeightThin;
  color: $colorText;
}