@import '../../../../stylesheets/_variables.scss';
@import '../../../../stylesheets/_responsive.scss';
.TodoTextInput {
  width: 100%;
  &__textInput {
    width: 100%;
    border: none;
    color: tomato;
    background: none;
    font-size: $fontSizeMedium;
    font-weight: $fontWeightThin;
    padding: 10px;
  }
}