@import "../../../../_variables.scss";
@import "../../../../_responsive.scss";
.TodoInput {
  display: flex;
  padding: 0px 16px;
  border: 1px solid #e6e6e6;
  &__completeAllButton {
    background: none;
    border: none;
    font-size: 30px;
    font-weight: 300;
    transform: rotate(90deg);
    &:before {
      content: '❯';
    }
  }
  &__textInput {
    flex: 1;
    border: none;
    font-size: $fontSizeMedium;
    font-weight: $fontWeightThin;
    padding: 10px;
  }
}