@import "../../../../stylesheets/_variables.scss";
@import "../../../../stylesheets/_responsive.scss";
.TodoInput {
  display: flex;
  padding: 0px 16px;
  border: 1px solid #e6e6e6;
  &__completeAllButton {
    background: none;
    border: none;
    font-size: 30px;
    font-weight: 300;
    transform: rotate(90deg);
    color: #e6e6e6;
    &:before {
      content: '❯';
    }
  }
  &__textInput {
    flex: 1;
    border: none;
    color: #4d4d4d;
    font-size: $fontSizeMedium;
    font-weight: $fontWeightThin;
    padding: 10px;
  }
  input {
    &::-webkit-input-placeholder {
      color: #e6e6e6;
    }
  }
}

.TodoInput--completeAll {
  .TodoInput {
    &__completeAllButton {
      color: #737373;
    }
  }
}